.header {
    background-color: #dbdada;
    height: 135px;
  }
  .header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    padding: 5px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
  }
  .website-logo{
    height: 90px;
    width: 100px;
  }
  .website-title{
    margin-top: -10px;
    font-size: 26px;
    font-weight: 700;
    color: crimson;
    letter-spacing: 5px;
  }
  .title-sub-name{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
  }
  .search-input{
    height: 40px;
    width: 380px;
    border-radius: 5px;
    border: 1px solid #bababa;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    outline: none;
  }
  .icon-search-icon{
    background-color: #202020;
    height: 44px;
    width: 60px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -61px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-icon{
    font-size: 30px;
  }

 @media (max-width: 576px){
  .header{
    height: 75px;
  }
  .header-items{
    display: flex;
    align-items: center;
  }
  .website-logo{
    height: 40px;
    width: 50px;
  }
  .website-title{
    font-size: 13px;
    letter-spacing: 0px;
  }
  .title-sub-name{
    font-size: 11px;
    letter-spacing: 0px;
  }
  .search-input{
    height: 27px;
    width: 160px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    margin-left: 5px;
  }
  .icon-search-icon{
    height: 29px;
    width: 30px;
    margin-left: 1px;
  }
  .search-icon{
    font-size: 16px;
  }
  .icon{
font-size: 16px;
margin-left: 8px;
  }
 }

 @media (max-width: 769px){
  .header{
    height: 110px;
  }
  .website-logo{
    height: 55px;
    width: 60px;
  }
  .website-title{
    font-size: 15px;
  }
  .title-sub-name{
    font-size: 12px;
  }
  .search-input{
    height: 30px;
    width: 240px;
    font-size: 15px;
    margin-left: 10px;
  }
  .icon-search-icon{
    height: 32px;
    width: 50px;
    margin-left: -50px;
  }
  .icons{
    margin-left: 6px;
    display: flex;
  }
  .icon{
    font-size: 25px;
  }
 }
  